<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CompozeElectron</title>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar nav-dark">
                <a class="nav-title" asp-area="" asp-controller="Home" asp-action="Index">Compoze</a>
                <span class="nav-icon"></span>
                <div class="item-holder">
                    @if(User.Identity.IsAuthenticated)
                    {
                        <ul>
                            <li>
                                <p class="nav-item active"><a asp-area="" asp-controller="UserInfo" asp-action="Dashboard">Dashboard</a></p>
                            </li>
                            <li class="nav-item">
                                <p class="nav-item"></p><a asp-area="" asp-controller="UserInfo" asp-action="UserSettings">Settings</a>
                            </li>
                            <li class="nav-item">
                                <p class="nav-item"></p><a asp-area="" asp-controller="Account" asp-action="Logout">Log Out</a>
                            </li>
                        </ul>
                    } else {
                        <ul>
                            <li class="nav-item active">
                                <p class="nav-item active"></p><a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <p class="nav-item"></p><a asp-area="" asp-controller="Account" asp-action="Login">Log In</a>
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            Copyriht&copy; Ethan Calabrese 2022<a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
