<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CompozeElectron</title>
    <script src="https://kit.fontawesome.com/4a6c085fe1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="navbar nav-dark">
            <div class="item-holder">
                <p class="nav-title"><a asp-area="" asp-controller="Home" asp-action="Index">Compoze</a></p>
                @if(User.Identity.IsAuthenticated)
                {
                    <p class="nav-item active"><a asp-area="" asp-controller="UserInfo" asp-action="Dashboard">Dashboard</a></p>
                    <p class="nav-item"><a asp-area="" asp-controller="UserInfo" asp-action="UserSettings">Settings</a></p>
                    <p class="nav-item"><a asp-area="" asp-controller="Account" asp-action="Logout">Log Out</a></p>
                } else {
                    <p class="nav-item active"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></p>
                    <p class="nav-item"><a asp-area="" asp-controller="Account" asp-action="Login">Log In</a></p>
                }
            </div>
            <a href="javascript:void(0);" class="nav-icon">
                <i class="fa-solid fa-bars"></i>
            </a>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            Copyright&copy; Ethan Calabrese 2022<a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
