@{
    ViewData["Title"] = "User Help";
}

<div class="text-center">
    <h1 class="my-3">Compoze User Help</h1>
    <p><strong>Save:</strong> Press ctrl + s on any document page to save it instantly.</p>
    <p><strong>Search: </strong></p>
    <ul>
        <li>Within Document: Press ctrl + f to search for text in a document's content.</li>
        <li>Anywhere: Press ctrl + shift + f to search for text in all documents in all projects.</li>
    </ul>
    <p><strong>Template: </strong>Press ctrl + t in a document to generate a template based on that document.</p>
    <p><strong>New Project: </strong>File > New Project will create a new project for logged in users.</p>
</div>