@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="my-3">Welcome to <strong class="highlight-effect">Compoze</strong></h1>
    <p>Our mission is to create a completely customizable, user friendly writing application.</p>
    <p>We will eventually be cross-platform!</p>
    <p>Sign up or log in to access your data.</p>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script> 